@charset "UTF-8";

body {

	color: black;
    
    font-weight: bold;

	background-color: aqua;
    
    font-family: Calibri, Arial, sans-serif;

}

h1 {
    background-color: #FF0;
	border: thin dashed #F00;
    text-align: center;
}

p {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 2px;
    margin-left: 25px;
}

li {
    list-style-type: disc;
}

a {
    color: green;
}
a:active {
    text-decoration: none;
    color: orange;
}
a:hover {
    background-color: white;
}

a: visited{
    text-decoration: none;
    color: purple;
}

img {
    float: right;
    margin-right: 20%;
    padding: 5px;
}

.red_hilite {
 	background-color: orangered;
}

.box {
    width: 400px;
    margin: 5px;
    padding: 5px;
    border: medium inset white;
    background-color: grey;
    color: aqua;
    text-align: center;
    float: right;
}